.DS_Store
.env
.envrc
.aider*

.cache
.cpcache
.calva
.clj-kondo/
.portal/
.nrepl-port

__pycache__/
package-lock.json
node_modules
*.mjs
*_cherry.*

input
java/.classpath
java/.project
java/.settings
java/target
**/resources

*.o
*.hi
*.dyn_*
*.hoo
*tags*
ghcid.txt
static-ls
.hiedb*
.hiefiles/
.ghc.environ*
